In [3]:
pip install cdsapi

Collecting cdsapi
  Downloading cdsapi-0.5.1.tar.gz (12 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests>=2.5.0 in c:\users\kaci\anaconda3\lib\site-packages (from cdsapi) (2.28.1)
Requirement already satisfied: tqdm in c:\users\kaci\anaconda3\lib\site-packages (from cdsapi) (4.64.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kaci\anaconda3\lib\site-packages (from requests>=2.5.0->cdsapi) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kaci\anaconda3\lib\site-packages (from requests>=2.5.0->cdsapi) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kaci\anaconda3\lib\site-packages (from requests>=2.5.0->cdsapi) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kaci\anaconda3\lib\site-packages (from requests>=2.5.0->cdsapi) (2.0.4)
Requirement already satisfied: colorama in c:\users\kaci\anaconda3\lib\site-packages (from tqdm->cdsapi) (0.4.5)
Building wheels for collected packages: cdsapi
  Building wheel for cdsapi (setup.py): started
  Building wheel for cdsapi (setup.py): finished with status 'done'
  Created wheel for cdsapi: filename=cdsapi-0.5.1-py2.py3-none-any.whl size=11688 sha256=4d424cc84ae8bca80f11f8f841c4ca51ccedd92edef745093b8567b26191c443
  Stored in directory: c:\users\kaci\appdata\local\pip\cache\wheels\8b\19\90\0f30bd354f0c245f87c1d7639466d05c6b028d3acb4a64cbed
Successfully built cdsapi
Installing collected packages: cdsapi
Successfully installed cdsapi-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install netCDF4

Collecting netCDF4
  Downloading netCDF4-1.6.3-cp39-cp39-win_amd64.whl (6.6 MB)
     ---------------------------------------- 6.6/6.6 MB 22.2 MB/s eta 0:00:00
Collecting cftime
  Downloading cftime-1.6.2-cp39-cp39-win_amd64.whl (171 kB)
     ---------------------------------------- 171.0/171.0 kB ? eta 0:00:00
Requirement already satisfied: numpy in c:\users\kaci\anaconda3\lib\site-packages (from netCDF4) (1.21.5)
Installing collected packages: cftime, netCDF4
Successfully installed cftime-1.6.2 netCDF4-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import netCDF4

In [12]:
data = netCDF4.Dataset('dataset-sis-biodiversity/BIO01_ipsl-cm5a-lr_rcp45_r1i1p1_1950-2100_v1.0.nc')
h = data.variables.keys()
h

dict_keys(['latitude', 'longitude', 'time', 'BIO01'])

In [14]:
print(data)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    history: Thu Jan 28 11:34:54 2021: ncpdq -a time,latitude,longitude /tmp/tmp5dywms75.nc_temp /tmp/tmp5dywms75.nc
    Conventions: CF-1.7
    Institution: (C) VITO, Belgium
    References: See documentation for full references at https://climate.copernicus.eu/
    Contact: Please contact Copernicus User Support on the Copernicus Climate Change Service website (https://climate.copernicus.eu/)
    Version: v1
    Title: C3S D427 SIS Biodiversity / Bio-climate indicators / BIO01 / CMIP5 / rcp45 IPSL-CM5A-LR r1i1p1 / bias-adjusted with ERA5 / 0.5degree_global
    Source: CMIP5 dataset (rcp45 IPSL-CM5A-LR r1i1p1) bias-adjusted to ERA5 by VITO
    Licence: ECMWF Copernicus licence 1.0
    dimensions(sizes): latitude(348), longitude(720), time(151)
    variables(dimensions): float64 latitude(latitude), float64 longitude(longitude), int64 time(time), float32 BIO01(time, latitude, longitude)
    groups:

In [18]:
data.variables['BIO01'].shape

(151, 348, 720)

In [26]:
data.variables['time'].units

'days since 1950-01-01'

In [28]:
data.variables['time'].shape

(151,)

In [30]:
TIME[150]

54787

In [38]:
#accessing the variables
TIME = data.variables["time"]
LAT=data.variables["latitude"]
LON=data.variables["longitude"]
INDICATOR=data.variables["BIO01"]

#accessing the data inside those variables
print(TIME)

<class 'netCDF4._netCDF4.Variable'>
int64 time(time)
    units: days since 1950-01-01
    calendar: proleptic_gregorian
    standard_name: time
    long_name: time
unlimited dimensions:
current shape = (151,)
filling on, default _FillValue of -9223372036854775806 used

In [51]:
import numpy as np

In [55]:
#check if there is a distortion in the projection of latitudes & longitudes (there isn't)
np.diff(data.variables["latitude"][:])

masked_array(data=[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
             mask=False,
       fill_value=1e+20)

In [53]:
np.diff(data.variables["longitude"][:])

masked_array(data=[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                   0.5, 0.5, 0.5, 0.5],
             mask=False,
       fill_value=1e+20)

In [48]:
data.variables["time"][:].max()

54787

In [37]:
TIME.units

'days since 1950-01-01'

In [39]:
TIME.units[11:22]

'1950-01-01'

In [6]:
print(X_dim)

<class 'netCDF4._netCDF4.Variable'>
int64 time(time)
    units: days since 1950-01-01
    calendar: proleptic_gregorian
    standard_name: time
    long_name: time
unlimited dimensions:
current shape = (151,)
filling on, default _FillValue of -9223372036854775806 used

## Data extraction test : first try with biodiversity info for 1 city

In [ ]:
#Data extraction test : first try with biodiversity info for 1 city

from netCDF4 import Dataset 
import pandas as pd
import netCDF4
import numpy as np

data = netCDF4.Dataset('dataset-sis-biodiversity/BIO01_ipsl-cm5a-lr_rcp45_r1i1p1_1950-2100_v1.0.nc')
TIME = data.variables["time"]
LAT=data.variables["latitude"][:]
LON=data.variables["longitude"][:]
INDICATOR=data.variables["BIO01"]

#Storing the lat & lon of the city of Ain El Hammam
lat_AEH = 36.57294751950093
lon_AEH = 4.312277176009296

#Taking the squared difference of lat & lon
sq_diff_lat = (LAT - lat_AEH)**2
sq_diff_lon = (LON - lon_AEH)**2

#Taking the closest lat & lon (by retrieving the index for min lat & lon)
min_index_lat = sq_diff_lat.argmin()
min_index_lon = sq_diff_lon.argmin()

#Creating the dataframe
starting_date = '1950'
ending_date = '2100'
date_range = pd.date_range(start=starting_date, end=ending_date, freq='AS')

df = pd.DataFrame(0, columns=['Biodiversity'], index=date_range)
dt = np.arange(0, data.variables["time"].size)

for time_index in dt:
    df.iloc[time_index] = INDICATOR[time_index, min_index_lat, min_index_lon]
    
df.to_csv('first_try.csv')

# Full data extraction

# a. Cleaning the city list file

In [83]:
df_city=pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';')

In [58]:
df_city

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,4946136,Oakham,Oakham,"Oakham,Oakham Centre,Oakkham,awkham,awkham ma...",P,PPL,US,United States,NaN,MA,027,50670,NaN,1702,328.0,328,America/New_York,2017-05-23,United States,"42.35287, -72.04535"
1,4946372,Onset,Onset,NaN,P,PPL,US,United States,NaN,MA,023,72985,NaN,1573,4.0,5,America/New_York,2017-05-23,United States,"41.74177, -70.65781"
2,4947641,Plympton,Plympton,"Plimpton,plymptwn masachwst,Плимптон,پلیمپتون...",P,PPL,US,United States,NaN,MA,023,54415,NaN,2683,36.0,36,America/New_York,2017-05-23,United States,"41.95288, -70.81448"
3,4948087,Provincetown,Provincetown,"Cap Blanc,PVC,Provincetown,Provinstaun,Village...",P,PPL,US,United States,NaN,MA,001,55500,NaN,2642,10.0,12,America/New_York,2018-01-04,United States,"42.05295, -70.1864"
4,4950790,Sherborn,Sherborn,"Shehrbon,Sherborn,Sherborn Centre,shrbwrn mas...",P,PPL,US,United States,NaN,MA,017,61380,NaN,4273,63.0,70,America/New_York,2017-05-23,United States,"42.23899, -71.36978"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140862,1688216,Santa Cruz,Santa Cruz,"sheng ke lu si qu,聖克魯斯區",P,PPLX,PH,Philippines,NaN,NCR,133900000,133903000,NaN,126735,NaN,15,Asia/Manila,2022-08-09,Philippines,"14.6, 120.98333"
140863,1688830,San Pablo,San Pablo,"Dakbayan sa San Pablo,Kota San Pablo,Lungsod n...",P,PPL,PH,Philippines,NaN,40,33,043424000,NaN,207577,NaN,115,Asia/Manila,2017-12-13,Philippines,"14.0683, 121.3256"
140864,1689220,San Juan de Mata,San Juan de Mata,"San Juan de Maja,San Juan de Mata",P,PPL,PH,Philippines,NaN,03,63,036916000,NaN,3131,NaN,77,Asia/Manila,2017-12-13,Philippines,"15.5352, 120.5302"
140865,1689413,San Jose,San Jose,San Jose,P,PPL,PH,Philippines,NaN,02,14,021506000,NaN,4533,NaN,32,Asia/Manila,2017-12-13,Philippines,"17.89269, 121.87125"
140866,684077,Boţeşti,Botesti,NaN,P,PPLA2,RO,Romania,NaN,03,14726,NaN,NaN,1330,NaN,465,Europe/Bucharest,2012-06-12,Romania,"45.01667, 25.13333"

In [61]:
df_city.dtypes

Geoname ID                   int64
Name                        object
ASCII Name                  object
Alternate Names             object
Feature Class               object
Feature Code                object
Country Code                object
Country name EN             object
Country Code 2              object
Admin1 Code                 object
Admin2 Code                 object
Admin3 Code                 object
Admin4 Code                 object
Population                   int64
Elevation                  float64
DIgital Elevation Model      int64
Timezone                    object
Modification date           object
LABEL EN                    object
Coordinates                 object
dtype: object

In [63]:
df_city.describe()

         Geoname ID    Population     Elevation  DIgital Elevation Model
count  1.408670e+05  1.408670e+05  27643.000000            140867.000000
mean   3.281084e+06  2.557869e+04    289.202945               381.435027
std    2.261030e+06  2.313706e+05    353.368653               684.183483
min    2.960000e+03  0.000000e+00    -60.000000             -9999.000000
25%    1.790674e+06  1.286000e+03     61.000000                49.000000
50%    2.988213e+06  2.977000e+03    197.000000               179.000000
75%    3.914739e+06  9.781500e+03    348.000000               462.000000
max    1.251067e+07  2.231547e+07   3890.000000              5622.000000

In [64]:
df_city.isna().sum()

Geoname ID                      0
Name                            0
ASCII Name                      1
Alternate Names             24400
Feature Class                   0
Feature Code                    0
Country Code                   45
Country name EN               168
Country Code 2             140786
Admin1 Code                    27
Admin2 Code                 19034
Admin3 Code                 72073
Admin4 Code                120305
Population                      0
Elevation                  113224
DIgital Elevation Model         0
Timezone                        0
Modification date               0
LABEL EN                      168
Coordinates                     0
dtype: int64

In [65]:
df_city.columns

Index(['Geoname ID', 'Name', 'ASCII Name', 'Alternate Names', 'Feature Class',
       'Feature Code', 'Country Code', 'Country name EN', 'Country Code 2',
       'Admin1 Code', 'Admin2 Code', 'Admin3 Code', 'Admin4 Code',
       'Population', 'Elevation', 'DIgital Elevation Model', 'Timezone',
       'Modification date', 'LABEL EN', 'Coordinates'],
      dtype='object')

In [84]:
df_city[['latitude', 'longitude']] = df_city['Coordinates'].str.split(',', 1, expand=True)

In [85]:
df_city.columns = df_city.columns.str.lower() 
df_city.columns = df_city.columns.str.replace(' ','_')

In [75]:
df_city.columns

Index(['geoname_id', 'name', 'ascii_name', 'alternate_names', 'feature_class',
       'feature_code', 'country_code', 'country_name_en', 'country_code_2',
       'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code',
       'population', 'elevation', 'digital_elevation_model', 'timezone',
       'modification_date', 'label_en', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [76]:
df_city.isna().sum()

geoname_id                      0
name                            0
ascii_name                      1
alternate_names             24400
feature_class                   0
feature_code                    0
country_code                   45
country_name_en               168
country_code_2             140786
admin1_code                    27
admin2_code                 19034
admin3_code                 72073
admin4_code                120305
population                      0
elevation                  113224
digital_elevation_model         0
timezone                        0
modification_date               0
label_en                      168
coordinates                     0
latitude                        0
longitude                       0
dtype: int64

In [86]:
df_city.drop(['alternate_names', 'country_code_2', 'admin2_code', 'admin3_code', 'admin4_code'], axis=1, inplace=True)

In [ ]:
df.drop(columns=['Unnamed: 0', 'ascii_name', 'feature_class', 'feature_code', 'admin1_code', 'digital_elevation_model', 'timezone', 'label_en', 'coordinates'  ], inplace=True)

In [21]:
df_city.drop(columns='Unnamed: 0', inplace=True)

In [6]:
df_city.isna().sum()

geoname_id                0
name                      0
country_code             45
country_name_en         168
population                0
elevation            113224
modification_date         0
latitude                  0
longitude                 0
dtype: int64

In [7]:
df_city = df_city[df_city['country_name_en'].notna()]

In [10]:
df_city = df_city[df_city['country_code'].notna()]

In [11]:
df_city.to_csv('geonames-all-cities-with-a-population-1000_clean.csv', index=None)

# b. Selecting the cities

In [3]:
df_city=pd.read_csv('geonames-all-cities-with-a-population-1000_clean.csv')

In [4]:
top30_cities=df_city[df_city.groupby('country_code')['population'].rank(ascending=False) == 1].sort_values(by=["population"], ascending=False).head(30)
top30_cities

,Unnamed: 0,geoname_id,name,country_code,country_name_en,population,elevation,modification_date,latitude,longitude
55218,55218,1796236,Shanghai,CN,China,22315474,NaN,2021-09-20,31.22222,121.45806
132447,132447,2332459,Lagos,NG,Nigeria,15388000,NaN,2022-04-01,6.45407,3.39467
126591,126591,745044,Istanbul,TR,Turkey,14804116,NaN,2022-03-09,41.01384,28.94966
38681,38681,1275339,Mumbai,IN,India,12691836,NaN,2022-12-09,19.07283,72.88261
120910,120910,3530597,Mexico City,MX,Mexico,12294193,NaN,2021-07-25,19.42847,-99.12766
116414,116414,1174872,Karachi,PK,Pakistan,11624219,NaN,2022-03-07,24.86080,67.01040
132499,132499,524901,Moscow,RU,Russian Federation,10381222,NaN,2022-12-10,55.75222,37.61556
120726,120726,1185241,Dhaka,BD,Bangladesh,10356500,NaN,2022-03-09,23.71040,90.40744
86697,86697,1835848,Seoul,KR,"Korea, Republic of",10349312,NaN,2022-03-03,37.56600,126.97840
30478,30478,3448439,São Paulo,BR,Brazil,10021295,NaN,2022-09-21,-23.54750,-46.63611
123089,123089,360630,Cairo,EG,Egypt,9606916,NaN,2022-04-18,30.06263,31.24967
5028,5028,1566083,Ho Chi Minh City,VN,Viet Nam,8993082,NaN,2022-06-09,10.82302,106.62965
112544,112544,2643743,London,GB,United Kingdom,8961989,NaN,2022-03-09,51.50853,-0.12574
124984,124984,5128581,New York City,US,United States,8804190,10.0,2022-03-09,40.71427,-74.00597
119164,119164,1642911,Jakarta,ID,Indonesia,8540121,NaN,2023-01-01,-6.21462,106.84513
99123,99123,1850147,Tokyo,JP,Japan,8336599,NaN,2022-11-25,35.68950,139.69171
13151,13151,1668341,Taipei,TW,"Taiwan, China",7871900,NaN,2022-03-09,25.04776,121.53185
129892,129892,2314302,Kinshasa,CD,"Congo, Democratic Republic of the",7785965,NaN,2022-03-09,-4.32758,15.31357
124597,124597,3936456,Lima,PE,Peru,7737002,NaN,2019-09-05,-12.04318,-77.02824
122477,122477,3688689,Bogotá,CO,Colombia,7674366,NaN,2022-03-09,4.60971,-74.08175
101907,101907,1819729,Hong Kong,HK,"Hong Kong, China",7482500,NaN,2021-09-09,22.27832,114.17469
61007,61007,98182,Baghdad,IQ,Iraq,7216000,NaN,2022-03-09,33.34058,44.40088
56842,56842,112931,Tehran,IR,"Iran, Islamic Rep. of",7153309,NaN,2022-03-09,35.69439,51.42151
96205,96205,2293538,Abidjan,CI,Côte d'Ivoire,6321017,NaN,2022-12-14,5.35444,-4.00167
77784,77784,1880252,Singapore,SG,Singapore,5638700,NaN,2022-06-05,1.28967,103.85007
15303,15303,993800,Johannesburg,ZA,South Africa,5635127,NaN,2022-08-16,-26.20227,28.04363
58380,58380,1609350,Bangkok,TH,Thailand,5104476,NaN,2022-09-20,13.75398,100.50144
104200,104200,3871336,Santiago,CL,Chile,4837295,NaN,2022-03-09,-33.45694,-70.64827
77754,77754,105343,Jeddah,SA,Saudi Arabia,4697000,NaN,2022-10-23,21.49012,39.18624
18943,18943,2147714,Sydney,AU,Australia,4627345,NaN,2022-03-06,-33.86785,151.20732

In [7]:
top30_cities.to_csv('top_30_cities.csv', index=None)

In [6]:
top04_cities=top30_cities.head(4)
top04_cities.to_csv('top_04_cities.csv', index=None)

In [ ]:
df3=df2.sort_values(by=["population"], ascending=False).head(100)
df3.to_csv('top_100_cities.csv', index=None)

# c. Script for extraction of all the data (one script per indicator)

In [ ]:
import netCDF4
import pandas as pd
import numpy as np


# Record all the years of the netCDF files into a Python list
    
data = netCDF4.Dataset('dataset-sis-biodiversity/BIO01_ipsl-cm5a-lr_rcp45_r1i1p1_1950-2100_v1.0.nc')
TIME = data.variables["time"]
LAT=data.variables["latitude"][:]
LON=data.variables["longitude"][:]
INDICATOR=data.variables["BIO01"]

# Creating an empty Pandas DataFrame covering the whole range of data 

starting_date = '1950'
ending_date = '2100'
date_range = pd.date_range(start=starting_date, end=ending_date, freq='AS')
dt = np.arange(0, data.variables["time"].size)

df = pd.DataFrame(columns=['year','geoname_id', 'name','annual_mean_temperature'],index=date_range)
dt = np.arange(0, data.variables["time"].size)

# Defining the location, lat, lon based on the csv data
cities = pd.read_csv('top_30_cities.csv')

for index, row in cities.iterrows():
    location = row['name']
    location_latitude = row['latitude']
    location_longitude = row['longitude']
    city_id=row['geoname_id']
        
    # Squared difference between the specified lat,lon and the lat,lon of the netCDF 
    sq_diff_lat = (LAT - location_latitude)**2 
    sq_diff_lon = (LON - location_longitude)**2

    # Identify the index of the min value for lat and lon
    min_index_lat = sq_diff_lat.argmin()
    min_index_lon = sq_diff_lon.argmin()
    

    for time_index in dt:
        df.iloc[time_index] = [df.index[time_index], city_id, location,INDICATOR[time_index, min_index_lat, min_index_lon]]
    
    print('Recording the value for '+ location)
    df.to_csv(fr"1.annual_mean_temperature/{location}.csv")

# d. Concatenate each city file into one dataframe

In [133]:
import glob
import pandas as pd

mean_temp_df = pd.concat(map(pd.read_csv, glob.glob(fr'1.annual_mean_temperature/*.csv')))

## e. Indicators Data cleaning

In [134]:
mean_temp_df.columns

Index(['Unnamed: 0', 'year', 'geoname_id', 'name', 'annual_mean_temperature'], dtype='object')

In [137]:
mean_temp_df.drop('Unnamed: 0', axis=1, inplace=True)

In [141]:
mean_temp_df

                    year  geoname_id     name  annual_mean_temperature
0    1950-01-01 00:00:00     2293538  Abidjan                298.87643
1    1951-01-01 00:00:00     2293538  Abidjan                298.48535
2    1952-01-01 00:00:00     2293538  Abidjan                298.23877
3    1953-01-01 00:00:00     2293538  Abidjan                298.51462
4    1954-01-01 00:00:00     2293538  Abidjan                298.47333
..                   ...         ...      ...                      ...
146  2096-01-01 00:00:00     1850147    Tokyo                291.53546
147  2097-01-01 00:00:00     1850147    Tokyo                291.36040
148  2098-01-01 00:00:00     1850147    Tokyo                291.64010
149  2099-01-01 00:00:00     1850147    Tokyo                290.09055
150  2100-01-01 00:00:00     1850147    Tokyo                291.01343

[4530 rows x 4 columns]

In [140]:
mean_temp_df.to_csv('mean_temperature.csv', index=None)

In [ ]:
#Converting kelvin to celcius
df['annual_mean_temperature']=df['annual_mean_temperature'].apply(lambda x:x-273,15)
df['mean_temperature_coldest_quarter']=df['mean_temperature_coldest_quarter'].apply(lambda x:x-273,15)
df['mean_temperature_warmest_quarter']=df['mean_temperature_warmest_quarter'].apply(lambda x:x-273,15)

In [ ]:
#Cleaning the date format to only keep the year
final_df6['year']=final_df6['year'].str.split('-').str[0]

In [ ]:
df.to_csv('full_data_top_100_cities_celcius_rcp8.5.csv', index=None)

### Cleaning the indicators tables for SQL

In [29]:
annual_mean_temp_df=pd.read_csv('1.annual_mean_temperature.csv')
annual_mean_temp_df.drop(columns='name', inplace=True)
annual_mean_temp_df.to_csv('1.annual_mean_temperature.csv', index=None)

In [30]:
mean_temp_warmest_quarter_df=pd.read_csv('2.mean_temp_warmest_quarter.csv')
mean_temp_warmest_quarter_df.drop(columns='name', inplace=True)
mean_temp_warmest_quarter_df.to_csv('2.mean_temp_warmest_quarter.csv', index=None)

In [33]:
mean_temp_coldest_quarter_df=pd.read_csv('3.mean_temp_coldest_quarter.csv')
mean_temp_coldest_quarter_df.drop(columns='name', inplace=True)
mean_temp_coldest_quarter_df.to_csv('3.mean_temp_coldest_quarter.csv', index=None)

In [34]:
annual_mean_precipitation_df=pd.read_csv('4.annual_mean_precipitation.csv')
annual_mean_precipitation_df.drop(columns='name', inplace=True)
annual_mean_precipitation_df.to_csv('4.annual_mean_precipitation.csv', index=None)

In [36]:
precipitation_wettest_month_df=pd.read_csv('5.precipitation_wettest_month.csv')
precipitation_wettest_month_df.drop(columns='name', inplace=True)
precipitation_wettest_month_df.to_csv('5.precipitation_wettest_month.csv', index=None)

In [37]:
precipitation_driest_month_df=pd.read_csv('6.precipitation_driest_month.csv')
precipitation_driest_month_df.drop(columns='name', inplace=True)
precipitation_driest_month_df.to_csv('6.precipitation_driest_month.csv', index=None)

In [55]:
# only keeping the year
annual_mean_temp_df['year']=annual_mean_temp_df['year'].str.split('-').str[0]
mean_temp_warmest_quarter_df['year']=mean_temp_warmest_quarter_df['year'].str.split('-').str[0]
mean_temp_coldest_quarter_df['year']=mean_temp_coldest_quarter_df['year'].str.split('-').str[0]
annual_mean_precipitation_df['year']=annual_mean_precipitation_df['year'].str.split('-').str[0]
precipitation_wettest_month_df['year']=precipitation_wettest_month_df['year'].str.split('-').str[0]
precipitation_driest_month_df['year']=precipitation_driest_month_df['year'].str.split('-').str[0]

In [ ]:
annual_mean_temp_df.to_csv('1.annual_mean_temperature.csv', index=None)
mean_temp_warmest_quarter_df.to_csv('2.mean_temp_warmest_quarter.csv', index=None)
mean_temp_coldest_quarter_df.to_csv('3.mean_temp_coldest_quarter.csv', index=None)
annual_mean_precipitation_df.to_csv('4.annual_mean_precipitation.csv', index=None)
precipitation_wettest_month_df.to_csv('5.precipitation_wettest_month.csv', index=None)
precipitation_driest_month_df.to_csv('6.precipitation_driest_month.csv', index=None)

In [5]:
annual_mean_temp_df=pd.read_csv('1.annual_mean_temperature.csv')
mean_temp_warmest_quarter_df=pd.read_csv('2.mean_temp_warmest_quarter.csv')
mean_temp_coldest_quarter_df=pd.read_csv('3.mean_temp_coldest_quarter.csv')
annual_mean_precipitation_df=pd.read_csv('4.annual_mean_precipitation.csv')
precipitation_wettest_month_df=pd.read_csv('5.precipitation_wettest_month.csv')
precipitation_driest_month_df=pd.read_csv('6.precipitation_driest_month.csv')

# Creating the SQL database

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\kaci\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kaci\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [6]:

from sqlalchemy import create_engine
import pymysql.cursors
import os
import getpass
pw = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [7]:
df_cities=pd.read_csv('geonames-all-cities-with-a-population-1000_clean.csv')

In [9]:
df_cities.to_sql('cities', engine, 'climate_fproject', if_exists='replace', index = False)

140654

In [10]:
annual_mean_temp_df.to_sql('an_mean_temp', engine, 'climate_fproject', if_exists='replace', index = False)

15100

In [11]:
mean_temp_warmest_quarter_df.to_sql('men_temp_warm_q', engine, 'climate_fproject', if_exists='replace', index = False)

15100

In [12]:
mean_temp_coldest_quarter_df.to_sql('men_temp_cold_q', engine, 'climate_fproject', if_exists='replace', index = False)

15100

In [13]:
annual_mean_precipitation_df.to_sql('an_mean_prec', engine, 'climate_fproject', if_exists='replace', index = False)

15100

In [14]:
precipitation_wettest_month_df.to_sql('prec_wet_mon', engine, 'climate_fproject', if_exists='replace', index = False)

15100

In [15]:
precipitation_driest_month_df.to_sql('prec_dri_mon', engine, 'climate_fproject', if_exists='replace', index = False)

15100