# Understanding Descriptive Statistics

Import the necessary libraries here:

In [6]:
import pandas as pd
import numpy as np

## Challenge 1
#### 1.- Define a function that simulates rolling a dice 10 times. Save the information in a dataframe.
**Hint**: you can use the *choices* function from module *random* to help you with the simulation.

In [135]:
df = np.random.choice(range(1,7), replace=True, size=10)
df = pd.DataFrame(df)
df

   0
0  1
1  6
2  6
3  6
4  6
5  5
6  1
7  6
8  5
9  6

In [136]:
df[df.columns[0]].count()

10

In [137]:
df[df.columns[0]].sum()

48

#### 2.- Plot the results sorted by value.

In [ ]:
# your code here

#### 3.- Calculate the frequency distribution and plot it. What is the relation between this plot and the plot above? Describe it with words.

In [138]:
df.value_counts()

6    6
1    2
5    2
dtype: int64

In [ ]:
"""
your comments here
"""

## Challenge 2
Now, using the dice results obtained in *challenge 1*, your are going to define some functions that will help you calculate the mean of your data in two different ways, the median and the four quartiles. 

#### 1.- Define a function that computes the mean by summing all the observations and dividing by the total number of observations. You are not allowed to use any methods or functions that directly calculate the mean value.

In [139]:
def mean_calculation(x):
    Sum=x[x.columns[0]].sum()
    Len=x[x.columns[0]].count()
    return(Sum/Len)

In [140]:
mean_calculation(df)

4.8

#### 2.- First, calculate the frequency distribution. Then, calculate the mean using the values of the frequency distribution you've just computed. You are not allowed to use any methods or functions that directly calculate the mean value.

In [141]:
df.value_counts()

6    6
1    2
5    2
dtype: int64

In [142]:
df[df.columns[0]].sum()/df.value_counts().sum()

4.8

#### 3.- Define a function to calculate the median. You are not allowed to use any methods or functions that directly calculate the median value. 
**Hint**: you might need to define two computation cases depending on the number of observations used to calculate the median.

In [143]:
def median_calculation(x):
    x=list(x[0])
    x.sort()
    if len(x) %2 == 0:
        first_median = x[len(x) // 2]
        second_median = x[len(x) // 2 - 1]
        median = (first_median + second_median) / 2
        return(median)
    if len(x) %2 != 0:
        return(num_list[len(num_list) // 2])

In [144]:
median_calculation(df)

6.0

#### 4.- Define a function to calculate the four quartiles. You can use the function you defined above to compute the median but you are not allowed to use any methods or functions that directly calculate the quartiles.

In [145]:

def quartile_one(x):
    x=list(x[0])
    x.sort()
    k = len(x) // 4
    if len(x) % 4 <  2:
        return (x[k-1] + x[k])/2
    else:
        return x[k-1]

def quartile_two(x):
    return(median_calculation(x))

def quartile_three(x):
    x=list(x[0])
    x.sort()
    k = 3 * len(x) // 4
    if len(x) % 4 <  2:
        return (x[k] + x[k+1])/2
    else:
        return x[k]

In [146]:
quartile_three(df)

6

## Challenge 3
Read the csv `roll_the_dice_hundred.csv` from the `data` folder.
#### 1.- Sort the values and plot them. What do you see?

In [120]:
df1=pd.read_csv('roll_the_dice_hundred.csv')
df1.sort_values(by='value')

    Unnamed: 0  roll  value
0            0     0      1
47          47    47      1
56          56    56      1
9            9     9      1
73          73    73      1
..         ...   ...    ...
17          17    17      6
11          11    11      6
24          24    24      6
21          21    21      6
99          99    99      6

[100 rows x 3 columns]

#### 2.- Using the functions you defined in *challenge 2*, calculate the mean value of the hundred dice rolls.

In [ ]:
def mean_calculation(x):
    Sum=x[x.columns['value']].sum()
    Len=x[x.columns['value']].count()
    return(Sum/Len)

In [122]:
mean_calculation(df1)

49.5

#### 3.- Now, calculate the frequency distribution.

In [123]:
df1.value_counts()

Unnamed: 0  roll  value
0           0     1        1
63          63    1        1
73          73    1        1
72          72    5        1
71          71    2        1
                          ..
30          30    6        1
29          29    2        1
28          28    4        1
27          27    4        1
99          99    6        1
Length: 100, dtype: int64

#### 4.- Plot the histogram. What do you see (shape, values...) ? How can you connect the mean value to the histogram?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 5.- Read the `roll_the_dice_thousand.csv` from the `data` folder. Plot the frequency distribution as you did before. Has anything changed? Why do you think it changed?

In [127]:
df2=pd.read_csv('roll_the_dice_thousand.csv')
df2.sort_values(by='value')

     Unnamed: 0  roll  value
564         564   564      1
922         922   922      1
560         560   560      1
213         213   213      1
214         214   214      1
..          ...   ...    ...
855         855   855      6
360         360   360      6
857         857   857      6
388         388   388      6
999         999   999      6

[1000 rows x 3 columns]

In [ ]:
"""
your comments here
"""

## Challenge 4
In the `data` folder of this repository you will find three different files with the prefix `ages_population`. These files contain information about a poll answered by a thousand people regarding their age. Each file corresponds to the poll answers in different neighbourhoods of Barcelona.

#### 1.- Read the file `ages_population.csv`. Calculate the frequency distribution and plot it as we did during the lesson. Try to guess the range in which the mean and the standard deviation will be by looking at the plot.

In [154]:
df3=pd.read_csv('ages_population.csv')

In [152]:
df3.value_counts()

observation
39.0           45
41.0           36
30.0           34
35.0           33
43.0           32
               ..
69.0            1
70.0            1
71.0            1
73.0            1
82.0            1
Length: 72, dtype: int64

#### 2.- Calculate the exact mean and standard deviation and compare them with your guesses. Do they fall inside the ranges you guessed?

In [149]:
df3.describe()

       observation
count    1000.0000
mean       36.5600
std        12.8165
min         1.0000
25%        28.0000
50%        37.0000
75%        45.0000
max        82.0000

#### 3.- Now read the file `ages_population2.csv` . Calculate the frequency distribution and plot it.

In [153]:
df4=pd.read_csv('ages_population2.csv')

In [151]:
df4.value_counts()

observation
28.0           139
27.0           125
26.0           120
29.0           115
25.0            98
30.0            90
24.0            78
31.0            61
23.0            41
22.0            35
32.0            31
33.0            22
21.0            17
20.0            13
34.0             7
35.0             3
19.0             3
36.0             2
dtype: int64

####  4.- What do you see? Is there any difference with the frequency distribution in step 1?

In [ ]:
"""
your comments here
"""

#### 5.- Calculate the mean and standard deviation. Compare the results with the mean and standard deviation in step 2. What do you think?

In [155]:
df4.describe()

       observation
count  1000.000000
mean     27.155000
std       2.969814
min      19.000000
25%      25.000000
50%      27.000000
75%      29.000000
max      36.000000

In [ ]:
"""
your comments here
"""

## Challenge 5
Now is the turn of `ages_population3.csv`.

#### 1.- Read the file `ages_population3.csv`. Calculate the frequency distribution and plot it.

In [156]:
df5=pd.read_csv('ages_population3.csv')

#### 2.- Calculate the mean and standard deviation. Compare the results with the plot in step 1. What is happening?

In [157]:
df5.describe()

       observation
count  1000.000000
mean     41.989000
std      16.144706
min       1.000000
25%      30.000000
50%      40.000000
75%      53.000000
max      77.000000

In [ ]:
"""
your comments here
"""

#### 3.- Calculate the four quartiles. Use the results to explain your reasoning for question in step 2. How much of a difference is there between the median and the mean?

In [158]:
np.quantile(df5, [0,0.25,0.5,0.75,1])

array([ 1., 30., 40., 53., 77.])

In [ ]:
"""
your comments here
"""

#### 4.- Calculate other percentiles that might be useful to give more arguments to your reasoning.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Bonus challenge
Compare the information about the three neighbourhoods. Prepare a report about the three of them. Remember to find out which are their similarities and their differences backing your arguments in basic statistics.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""