In [150]:
import os
import pandas as pd
import numpy as np
import re

In [151]:
input_df = pd.read_csv("6 - Primary Education.xlsx - Primary.csv")

In [152]:
input_df.columns

Index(['ISO3', 'Countries and areas', 'Region', 'Sub-region', 'Income Group',
       'Total', 'Residence Rural', 'Residence Urban',
       'Wealth quintile Poorest', 'Wealth quintile Richest', 'Data source',
       'Time period'],
      dtype='object')

In [153]:
input_df

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence Rural,Residence Urban,Wealth quintile Poorest,Wealth quintile Richest,Data source,Time period
0,AGO,Angola,SSA,ESA,Lower middle income (LM),0.15,0.02,0.22,0.00,0.61,Demographic and Health Survey,2015-16
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
2,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.81,0.69,0.89,0.46,0.99,Demographic and Health Survey,2015-16
3,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.34,0.30,0.49,0.07,0.75,Multiple Indicator Cluster Survey,2019
4,BRB,Barbados,LAC,LAC,High income (H),0.63,0.54,0.68,0.09,0.97,Multiple Indicator Cluster Survey,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
82,URY,Uruguay,LAC,LAC,High income (H),0.63,0.53,0.64,0.37,NaN,Multiple Indicator Cluster Survey,2012-99
83,UZB,Uzbekistan,ECA,EECA,Lower middle income (LM),0.19,0.16,0.26,0.00,0.69,UNICEF Nutrition Survey 2017,2017
84,VNM,Viet Nam,EAP,EAP,NaN,0.58,NaN,0.58,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012
85,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.06,0.02,0.12,0.00,0.28,Demographic and Health Survey,2018-19
86,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.25,0.16,0.48,0.04,0.60,Multiple Indicator Cluster Survey,2018-19

# Cleaning column names

In [154]:
input_df.columns = [col.replace(' ', '_') for col in input_df.columns]
input_df.columns = [col.replace('-', '_') for col in input_df.columns]

In [155]:
input_df.columns

Index(['ISO3', 'Countries_and_areas', 'Region', 'Sub_region', 'Income_Group',
       'Total', 'Residence_Rural', 'Residence_Urban',
       'Wealth_quintile_Poorest', 'Wealth_quintile_Richest', 'Data_source',
       'Time_period'],
      dtype='object')

### Looking for data type inconsistencies

In [156]:
for column in input_df.columns:
    if input_df[input_df[column].notnull()][column].apply(type).value_counts().shape[0] > 1:
        print(column, "has multiple data type")
    else:
        print("the data is consistant")

the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant
the data is consistant

# Inspection for cleaning

In [157]:
input_df.head()

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Residence_Rural,Residence_Urban,Wealth_quintile_Poorest,Wealth_quintile_Richest,Data_source,Time_period
0,AGO,Angola,SSA,ESA,Lower middle income (LM),0.15,0.02,0.22,0.00,0.61,Demographic and Health Survey,2015-16
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
2,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.81,0.69,0.89,0.46,0.99,Demographic and Health Survey,2015-16
3,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.34,0.30,0.49,0.07,0.75,Multiple Indicator Cluster Survey,2019
4,BRB,Barbados,LAC,LAC,High income (H),0.63,0.54,0.68,0.09,0.97,Multiple Indicator Cluster Survey,2012

### Clean the date format
- keeping a single format
- detecting the rows where the year does not make sense (year superior than 2023) to replace them

In [158]:
input_df.dtypes

ISO3                        object
Countries_and_areas         object
Region                      object
Sub_region                  object
Income_Group                object
Total                      float64
Residence_Rural            float64
Residence_Urban            float64
Wealth_quintile_Poorest    float64
Wealth_quintile_Richest    float64
Data_source                 object
Time_period                 object
dtype: object

In [159]:
input_df['Time_period'] = input_df['Time_period'].astype(str)

In [160]:
input_df['Time_period'] = input_df['Time_period'].apply(lambda str: str.split('-')[0] if '-' in str else str)

In [161]:
import datetime
current_year = datetime.date.today().year
input_df['Time_period'] = input_df['Time_period'].apply(lambda time: np.nan if int(time) > current_year else time)

In [162]:
input_df.sort_values('Time_period')

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Residence_Rural,Residence_Urban,Wealth_quintile_Poorest,Wealth_quintile_Richest,Data_source,Time_period
49,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.16,0.11,0.20,NaN,NaN,Morocco Household and Youth Survey 2010,2010
66,SSD,South Sudan,SSA,ESA,Low income (L),0.00,0.00,0.01,0.00,0.02,Multiple Indicator Cluster Survey,2010
10,BFA,Burkina Faso,SSA,WCA,Low income (L),0.01,0.01,0.03,0.01,0.04,Demographic and Health Survey,2010
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011
75,TTO,Trinidad and Tobago,LAC,LAC,High income (H),0.42,0.32,0.51,0.02,0.97,Multiple Indicator Cluster Survey,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
32,IDN,Indonesia,EAP,EAP,Lower middle income (LM),0.17,0.09,0.24,0.05,0.44,SUSENAS,2019
60,STP,Sao Tome and Principe,SSA,WCA,Lower middle income (LM),0.44,0.37,0.47,0.18,0.75,Multiple Indicator Cluster Survey,2019
57,PER,Peru,LAC,LAC,Upper middle income (UM),0.25,0.01,0.33,NaN,NaN,ENDES,2019
51,NPL,Nepal,SA,SA,Low income (L),0.46,0.31,0.54,0.15,0.85,Multiple Indicator Cluster Survey,NaN
71,THA,Thailand,EAP,EAP,Upper middle income (UM),0.68,0.65,0.75,0.42,0.95,Multiple Indicator Cluster Survey,NaN

### Looking for missing values

In [163]:
input_df.isna().sum()

ISO3                        0
Countries_and_areas         0
Region                      1
Sub_region                  5
Income_Group                6
Total                       5
Residence_Rural            15
Residence_Urban            13
Wealth_quintile_Poorest    22
Wealth_quintile_Richest    25
Data_source                 2
Time_period                 2
dtype: int64

In [164]:
#shows all the rows where there is a missing value 
input_df[input_df.isnull().any(axis=1)]

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Residence_Rural,Residence_Urban,Wealth_quintile_Poorest,Wealth_quintile_Richest,Data_source,Time_period
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011
6,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.11,0.04,0.15,NaN,NaN,EDSA,2016
15,CHN,China,EAP,EAP,Upper middle income (UM),0.62,0.53,0.91,NaN,NaN,CHARLS 2018,2018
23,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.40,0.19,0.50,NaN,NaN,ENSANUT,2018
24,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.16,0.09,0.27,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015
34,ITA,Italy,ECA,WE,High income (H),0.63,NaN,NaN,NaN,NaN,Multiscopo sulle famiglie: aspetti della vita ...,2018
37,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.30,NaN,0.22,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
46,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.37,0.10,0.47,NaN,NaN,ENSANUT,2018
48,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.80,0.71,0.84,0.43,1.00,NaN,2018
49,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.16,0.11,0.20,NaN,NaN,Morocco Household and Youth Survey 2010,2010
51,NPL,Nepal,SA,SA,Low income (L),0.46,0.31,0.54,0.15,0.85,Multiple Indicator Cluster Survey,NaN
52,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.04,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011
53,NER,Niger,SSA,WCA,Low income (L),0.02,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,2014
54,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.03,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",2018
57,PER,Peru,LAC,LAC,Upper middle income (UM),0.25,0.01,0.33,NaN,NaN,ENDES,2019
58,RUS,Russian Federation,ECA,EECA,Upper middle income (UM),0.88,0.82,0.90,0.88,NaN,"Russia Longitudinal Monitoring Survey, 2018",2018
59,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.44,0.44,0.47,0.12,NaN,Multiple Indicator Cluster Survey,2012
64,SOM,Somalia,SSA,ESA,Low income (L),0.12,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,2017
65,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.18,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,2014
70,TJK,Tajikistan,NaN,EECA,Low income (L),0.23,0.19,0.37,0.05,0.44,Demographic and Health Survey,2017
71,THA,Thailand,EAP,EAP,Upper middle income (UM),0.68,0.65,0.75,0.42,0.95,Multiple Indicator Cluster Survey,NaN
76,TUN,Tunisia,MENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2018
77,TUR,Turkey,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
78,TKM,Turkmenistannnn,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LSMS,2015
80,UKR,Ukraine,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
81,GBR,United Kingdom,ECA,WE,High income (H),0.99,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016
82,URY,Uruguay,LAC,LAC,High income (H),0.63,0.53,0.64,0.37,NaN,Multiple Indicator Cluster Survey,2012
84,VNM,Viet Nam,EAP,EAP,NaN,0.58,NaN,0.58,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012

### The year for Thailand and Nepal do not make sense, but since all the values are filled, we have decided not to drop them, and fill the year according to the Region & Data Source

In [166]:
# input_df[input_df['Data_source']=='Multiple Indicator Cluster Survey']
input_df[input_df['Region']=='SA']
input_df[input_df['Region']=='EAP']

In [167]:
#For Thailand and Nepal, in the EAP and SA region,  for the source Multiple Indicator Cluster Survey, this is the most probable year
input_df.at[71,'Time_period']='2019'
input_df.at[51,'Time_period']='2019'

In [168]:
input_df[input_df.isnull().any(axis=1)]

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Residence_Rural,Residence_Urban,Wealth_quintile_Poorest,Wealth_quintile_Richest,Data_source,Time_period
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011
6,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.11,0.04,0.15,NaN,NaN,EDSA,2016
15,CHN,China,EAP,EAP,Upper middle income (UM),0.62,0.53,0.91,NaN,NaN,CHARLS 2018,2018
23,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.40,0.19,0.50,NaN,NaN,ENSANUT,2018
24,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.16,0.09,0.27,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015
34,ITA,Italy,ECA,WE,High income (H),0.63,NaN,NaN,NaN,NaN,Multiscopo sulle famiglie: aspetti della vita ...,2018
37,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.30,NaN,0.22,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
46,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.37,0.10,0.47,NaN,NaN,ENSANUT,2018
48,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.80,0.71,0.84,0.43,1.00,NaN,2018
49,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.16,0.11,0.20,NaN,NaN,Morocco Household and Youth Survey 2010,2010
52,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.04,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011
53,NER,Niger,SSA,WCA,Low income (L),0.02,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,2014
54,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.03,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",2018
57,PER,Peru,LAC,LAC,Upper middle income (UM),0.25,0.01,0.33,NaN,NaN,ENDES,2019
58,RUS,Russian Federation,ECA,EECA,Upper middle income (UM),0.88,0.82,0.90,0.88,NaN,"Russia Longitudinal Monitoring Survey, 2018",2018
59,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.44,0.44,0.47,0.12,NaN,Multiple Indicator Cluster Survey,2012
64,SOM,Somalia,SSA,ESA,Low income (L),0.12,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,2017
65,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.18,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,2014
70,TJK,Tajikistan,NaN,EECA,Low income (L),0.23,0.19,0.37,0.05,0.44,Demographic and Health Survey,2017
76,TUN,Tunisia,MENA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2018
77,TUR,Turkey,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
78,TKM,Turkmenistannnn,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LSMS,2015
80,UKR,Ukraine,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
81,GBR,United Kingdom,ECA,WE,High income (H),0.99,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016
82,URY,Uruguay,LAC,LAC,High income (H),0.63,0.53,0.64,0.37,NaN,Multiple Indicator Cluster Survey,2012
84,VNM,Viet Nam,EAP,EAP,NaN,0.58,NaN,0.58,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012

### Filling missing region values

In [169]:
#The region is missing for Tajikistan, it is quite easy to find it and replace it, so we will keep this row
input_df.at[70,'Region']='ECA'

In [170]:
#for the missing sub-regions, we will simply copy the region, as it is not a very important column
input_df['Sub_region'].fillna(input_df['Region'], inplace = True)

In [171]:
input_df[input_df.isnull().any(axis=1)]

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Residence_Rural,Residence_Urban,Wealth_quintile_Poorest,Wealth_quintile_Richest,Data_source,Time_period
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011
6,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.11,0.04,0.15,NaN,NaN,EDSA,2016
15,CHN,China,EAP,EAP,Upper middle income (UM),0.62,0.53,0.91,NaN,NaN,CHARLS 2018,2018
23,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.40,0.19,0.50,NaN,NaN,ENSANUT,2018
24,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.16,0.09,0.27,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015
34,ITA,Italy,ECA,WE,High income (H),0.63,NaN,NaN,NaN,NaN,Multiscopo sulle famiglie: aspetti della vita ...,2018
37,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.30,NaN,0.22,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
46,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.37,0.10,0.47,NaN,NaN,ENSANUT,2018
48,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.80,0.71,0.84,0.43,1.0,NaN,2018
49,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.16,0.11,0.20,NaN,NaN,Morocco Household and Youth Survey 2010,2010
52,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.04,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011
53,NER,Niger,SSA,WCA,Low income (L),0.02,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,2014
54,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.03,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",2018
57,PER,Peru,LAC,LAC,Upper middle income (UM),0.25,0.01,0.33,NaN,NaN,ENDES,2019
58,RUS,Russian Federation,ECA,EECA,Upper middle income (UM),0.88,0.82,0.90,0.88,NaN,"Russia Longitudinal Monitoring Survey, 2018",2018
59,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.44,0.44,0.47,0.12,NaN,Multiple Indicator Cluster Survey,2012
64,SOM,Somalia,SSA,ESA,Low income (L),0.12,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,2017
65,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.18,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,2014
76,TUN,Tunisia,MENA,MENA,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2018
77,TUR,Turkey,ECA,ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
78,TKM,Turkmenistannnn,ECA,ECA,NaN,NaN,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,SSA,NaN,NaN,NaN,NaN,NaN,NaN,LSMS,2015
80,UKR,Ukraine,ECA,ECA,NaN,NaN,NaN,NaN,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013
81,GBR,United Kingdom,ECA,WE,High income (H),0.99,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016
82,URY,Uruguay,LAC,LAC,High income (H),0.63,0.53,0.64,0.37,NaN,Multiple Indicator Cluster Survey,2012
84,VNM,Viet Nam,EAP,EAP,NaN,0.58,NaN,0.58,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012

### Filling income groups
There is only one row that is worth filling (Vietnam), as all the others have no value. Given its total, we can considere it as an Upper middle income (UM)  
as China is considered Upper middle income (UM) with 0.62

In [173]:
input_df.at[84,'Income_Group']='Upper middle income (UM)'

### Dropping columns that have more than 15% of missing values 
15% of 88 rows = 13

In [174]:
null_cols = input_df.isna().sum()
null_cols[null_cols > 12]

Residence_Rural            15
Residence_Urban            13
Wealth_quintile_Poorest    22
Wealth_quintile_Richest    25
dtype: int64

In [175]:
drop_cols = list(null_cols[null_cols > 12].index)
input_df = input_df.drop(drop_cols, axis=1)

In [176]:
input_df

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Data_source,Time_period
0,AGO,Angola,SSA,ESA,Lower middle income (LM),0.15,Demographic and Health Survey,2015
1,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.39,Multiple Indicator Cluster Survey,2011
2,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.81,Demographic and Health Survey,2015
3,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.34,Multiple Indicator Cluster Survey,2019
4,BRB,Barbados,LAC,LAC,High income (H),0.63,Multiple Indicator Cluster Survey,2012
...,...,...,...,...,...,...,...,...
82,URY,Uruguay,LAC,LAC,High income (H),0.63,Multiple Indicator Cluster Survey,2012
83,UZB,Uzbekistan,ECA,EECA,Lower middle income (LM),0.19,UNICEF Nutrition Survey 2017,2017
84,VNM,Viet Nam,EAP,EAP,Upper middle income (UM),0.58,STEP Skills Measurement Household Survey 2012 ...,2012
85,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.06,Demographic and Health Survey,2018
86,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.25,Multiple Indicator Cluster Survey,2018

# Last cleaning touches

In [177]:
input_df.at[48,'Data_source']='Unknown'

In [178]:
input_df["Sub_region"] = input_df["Sub_region"].apply(lambda x : x  if x != "WCAAA" else "WCA")

### Dropping the remaining rows that have missing values in the Total column

In [179]:
#drop the last rows that contain null values
# print(input_df.isna().any(axis = 1).value_counts())

# input_df = input_df.dropna(how = "any")
# print(input_df.shape)

input_df[input_df.isnull().any(axis=1)]

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Data_source,Time_period
76,TUN,Tunisia,MENA,MENA,NaN,NaN,Multiple Indicator Cluster Survey,2018
77,TUR,Turkey,ECA,ECA,NaN,NaN,NaN,2013
78,TKM,Turkmenistannnn,ECA,ECA,NaN,NaN,Multiple Indicator Cluster Survey,2019
79,UGA,Uganda,SSA,SSA,NaN,NaN,LSMS,2015
80,UKR,Ukraine,ECA,ECA,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013

In [180]:
input_df = input_df.dropna(how = "any")
input_df[input_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [ISO3, Countries_and_areas, Region, Sub_region, Income_Group, Total, Data_source, Time_period]
Index: []

### Looking for duplicates

In [181]:
input_df[input_df.duplicated(keep = False)]

Empty DataFrame
Columns: [ISO3, Countries_and_areas, Region, Sub_region, Income_Group, Total, Data_source, Time_period]
Index: []

In [182]:
input_df[input_df.duplicated( ['ISO3'], keep = False)]
# no duplicates

Empty DataFrame
Columns: [ISO3, Countries_and_areas, Region, Sub_region, Income_Group, Total, Data_source, Time_period]
Index: []

### Looking for outliers

In [183]:
stats = input_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

       count      mean       std  min     25%   50%     75%   max    IQR
Total   82.0  0.911098  5.160959  0.0  0.0625  0.26  0.6275  47.0  0.565

In [184]:
outliers = pd.DataFrame(columns=input_df.columns)
outliers
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = input_df[(input_df[col] < lower) |
                   (input_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers

C:\Users\kaci\AppData\Local\Temp\ipykernel_10000\1369975024.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)

,ISO3,Countries_and_areas,Region,Sub_region,Income_Group,Total,Data_source,Time_period,Outlier
39,KGZ,Kyrgyzstan,ECA,EECA,Lower middle income (LM),47.0,Multiple Indicator Cluster Survey,2018,Total

### Remedy the outlier
instead of deleting the row, we realized that the outlier were just not in the same unit as the other values, so we devided its value by 100

In [185]:
input_df.at[39,'Total']=0.47

### Output data to csv

In [187]:
input_df.to_csv("cleaned_data.csv", index = False)

In [16]:
#"SELECT Region, AVERAGE(Total), AVERAGE(Residence_Rural), AVERAGE(Residence_Urban), AVERAGE(Wealth_quintile_Poorest), AVERAGE(Wealth_quintile_Richest) FROM Countries GROUP BY Region"
#"SELECT Sub-region, AVERAGE(Total), AVERAGE(Residence_Rural), AVERAGE(Residence_Urban), AVERAGE(Wealth_quintile_Poorest), AVERAGE(Wealth_quintile_Richest) FROM Countries GROUP BY Sub-region"

### Optional, push automatically to SQL

In [17]:
#import pymysql
#from sqlalchemy import create_engine
#from creds import password
#engine = create_engine(f'mysql+pymysql://root:{password}]@localhost:3306/Countries')
#df_modified.to_sql('Countries', engine, if_exists='replace', index=False)